@charset "UTF-8";
.str0 {stroke:#FF4F6F;stroke-width:3.9;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:2.61313}
.fil0 {fill:none;fill-rule:nonzero}
.fil1 {fill:#FF4F6F;fill-rule:nonzero}
